<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./styles'); %>
    <title>Dog's Info</title>
</head>

<body>
    <h1>Your Dog's Info</h1>
    <table>
        <tr>
            <td>Name :</td>
            <td><%= name %></td>
        </tr>
        <tr>
            <td>Age :</td>
            <td><%= age %></td>
        </tr>
        <tr>
            <td>Breed :</td>
            <td><%= breed %></td>
        </tr>
        <tr>
            <td>Height :</td>
            <td><%= height %></td>
        </tr>
        <tr>
            <td>Weight :</td>
            <td><%= weight %></td>
        </tr>
        <tr>
            <td>OwnerName :</td>
            <td><%= ownerName %></td>
        </tr>
    </table>
</body>

</html>